* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: url("bg.jpg") no-repeat center/cover;
  min-height: 100vh;
}

/* Overlay */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

/* Center */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

/* Glass Card */
.glass-card {
  width: 90%;
  max-width: 500px;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 25px;
  color: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

h2,h3 {
  text-align: center;
  margin-bottom: 15px;
}

/* Form */

.row {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
}

textarea {
  height: 70px;
  resize: none;
}

button {
  width: 100%;
  padding: 12px;
  background: gold;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: orange;
}

.price {
  text-align: center;
  font-size: 18px;
  margin: 10px 0;
  font-weight: bold;
}

/* Modal */

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: white;
  color: black;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  width: 90%;
  max-width: 400px;
}

/* Mobile */

@media(max-width:600px){

  .row{
    flex-direction: column;
  }

}
label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

.label-row > div {
  width: 100%;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.payment {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.payment label {
  cursor: pointer;
}

#cardBox {
  margin-top: 10px;
}